# Maven
target/
*.ser
*.ec

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

# vscode
.vscode/

# Eclipse
.classpath
.project
.settings/
.metadata/

# OS X
.DS_Store

# Logs
*.log

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar